{% extends "layout.html" %} {% block body %}
<div class="content-section">
  <p class="content-text">
    <span style="font-size: 4rem; line-height: 0.8">D</span>o you ever look at a
    photo and wonder why it's so pleasing to the eye? Often, you'll find that
    the photographer used the rule of thirds.
  </p>

  <p class="content-text">
    This compositional technique is one of the most important fundamentals of
    photography — and, bonus, it's also one of the easiest to learn and apply.
    Keep reading to find out how the rule of thirds can help you take better
    photos.
  </p>

  <a href="{{ url_for('introduction_part2') }}" class="btn-next"
    >NEXT: What is the rule of thirds?</a
  >
</div>
{% endblock %}
