{% extends "layout.html" %} {% block body %}
<div class="content-section">
  <div class="content-with-image">
    <!-- left column: content paragraphs -->
    <div class="text-col">
      {% for section in page_data.sections %}
      <p class="content-text">{{ section.content }}</p>
      {% endfor %}
    </div>

    <!-- right column: image + Next button -->
    <div class="media-col">
      <img
        src="{{ url_for('static', filename=page_data.image.src) }}"
        alt="{{ page_data.image.alt }}"
        class="{{ page_data.image.class }}"
      />
      <a href="{{ url_for(page_data.next_button.link) }}" class="btn-next">
        {{ page_data.next_button.text }}
      </a>
    </div>
  </div>
</div>
{% endblock %}
