{% extends "layout.html" %} {% block body %}
<div class="content-section prep-section">
  <div class="prep-content">
    <!-- left column: steps -->
    <div class="prep-text-col">
      {% for step in page_data.steps %}
      <p class="prep-step-title">{{ step.title }}</p>
      <p class="content-text-preparation">
        {{ step.content }}
      </p>
      {% endfor %}

      <!-- next button -->
      <div class="text-center">
        <a
          href="{{ url_for(page_data.next_button.link) }}"
          class="btn-next btn-next-preparation"
        >
          {{ page_data.next_button.text }}
        </a>
      </div>
    </div>

    <!-- right column: videos -->
    <div class="prep-video-col">
      <img
        src="{{ url_for('static', filename=page_data.image.src) }}"
        alt="{{ page_data.image.alt }}"
        class="{{ page_data.image.class }}"
      />
    </div>
  </div>
</div>
{% endblock %}
