{% extends "layout.html" %}

{% block body %}
  <h2>{{ item.title }}</h2>
  <img
    src="{{ item.image }}"
    alt="{{ item.title }}"
    style="max-width:300px; display:block; margin-bottom: 20px;"
  >

  <p><strong>Year:</strong> {{ item.year }}</p>
    <p><strong>Author(s):</strong></p>
    <ul>
      {% for author in item.author %}
        <li>{{ author }}</li>
      {% endfor %}
    </ul>
  <p><strong>Rating:</strong> {{ item.rating }}</p>
  <p><strong>Summary:</strong> {{ item.summary }}</p>

  <p><strong>Key Takeaways:</strong></p>
  <ul>
    {% for takeaway in item.key_takeaways %}
      <li>{{ takeaway }}</li>
    {% endfor %}
  </ul>
{% endblock %}
